@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.main-page {
	background-color: rgba(58, 57, 57, 0.534);
	height: 100vh;
}
.header {
	display: flex;
	flex-direction: row;
	align-content: center;

	width: 100vw;
}
.welcome-text {
	margin-left: 5%;
	width: 50vw;
	font-family: 'Special Elite', cursive;
}
.muse-container {
	width: 100vw;
	margin-top: 1%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.muse {
	font-size: 2em;
	margin-right: 2%;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	animation: shimmer2 45s infinite;
}

.search-form {
	display: flex;
	flex-direction: row;
	margin-right: 1%;
}
.feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
}
.image {
	width: 100vw;
}
.quotes {
	text-align: right;
	margin-top: -20%;
	color: rgb(24, 24, 24);
	background-color: rgba(151, 151, 151, 0.329);
	width: 100vw;
}
.quote {
	margin-right: 2%;
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 10%;
}
.pexel-logo {
	width: 18%;
	margin-top: -0.5%;
}

@keyframes shimmer2 {
	0% {
		-webkit-text-stroke-color: rgb(149, 4, 245);
	}
	15% {
		-webkit-text-stroke-color: rgb(12, 247, 235);
	}
	45% {
		-webkit-text-stroke-color: transparent;
	}
	50% {
		-webkit-text-stroke-color: rgb(8, 247, 115);
	}
	75% {
		-webkit-text-stroke-color: rgb(238, 16, 101);
	}
	100% {
		-webkit-text-stroke-color: rgb(149, 4, 245);
	}
}
@media only screen and (max-width: 700px) {
	.welcome-text {
		font-size: 1.2em;
		margin-top: 2%;
	}
	.header {
		height: 1vh;
		justify-content: flex-end;
	}
	.feature {
		margin-top: 20%;
	}
	.muse-container {
		flex-direction: column-reverse;
		margin: 0 auto;
		justify-content: center;
		margin-top: 10%;
		width: 250px;
		margin-bottom: -10%;
	}
	.search-form {
		display: flex;
		flex-direction: row;
	}
	.pexel-logo {
		margin-top: -22%;
	}
}
